<div class="container">
  <main>
    <mdc-card class="content" outlined>
      <div>
        <router-outlet></router-outlet>
      </div>
    </mdc-card>
  </main>
  <footer>
    <div class="options-1">
      <button mdc-button mdcCaption>
        <mdc-button-label>English (United States)</mdc-button-label>
        <mdc-icon>arrow_drop_down</mdc-icon>
      </button>
    </div>
    <div class="options-2">
      <button mdc-button mdcCaption>Help</button>
      <button mdc-button mdcCaption style="margin-left: 8px">Privacy</button>
      <button mdc-button mdcCaption style="margin-left: 8px">Terms</button>
    </div>
  </footer>
</div>
