<main class="scrollable">
    <div style="width: 100%; flex">
        <div class="content-frame-spacious" style="margin-top: 64px;">
            <div class="content-area" style="padding: 32px; text-align:center;">
                <span mdcHeadline4 style="margin-top: 24px">Contribute to help one another</span>
                <span mdcBody1 style="padding-top:1rem;">How it works</span>
            </div>
            

            <div class="mdc-layout-grid" style="margin:2rem">
                <div class="mdc-layout-grid__inner">
                    <div class="mdc-layout-grid__cell--span-6">
                        <mdc-card style="padding:2rem">
                            <img alt="" src="./assets/svg/learn_more_agency.svg" style="height: 280px">
                            <span mdcHeadline5 style="margin: 1rem">Medical institutions</span>
                            <mdc-list-divider></mdc-list-divider>

                            <div style="display: flex; flex-direction: row; padding:1rem;">
                                <div style="flex-direction: column;">
                                    <img alt="" src="./assets/svg/learn_more_publish.svg" style="height: 150px">
                                </div>
                                <div style="flex-direction: column;margin:1rem">
                                    <span mdcBody1 style="margin: 1rem">Request items</span>
                                </div>
                            </div>

              
     
                        </mdc-card>

                    </div>

                    <div class="mdc-layout-grid__cell--span-6">
                        <mdc-card style="padding:2rem">
                            <img alt="" src="./assets/svg/learn_more_donor.svg" style="height: 280px">
                            <span mdcHeadline5 style="margin: 1rem">Supplier &#47; Donor</span>
                            <mdc-list-divider></mdc-list-divider>
                        </mdc-card>

                    </div>
                </div>

            </div>
        </div>
    </div>
</main>