<main class="scrollable">
    <div style="width: 100%; flex">
        <div class="content-frame-spacious" style="margin-top: 64px;">
            <div class="content-area" style="padding: 32px; text-align:center;">
                <span mdcHeadline4 style="margin-top: 24px">Contribute to help one another</span>
                <span mdcBody1 style="padding-top:1rem;">
                    This platform aims to connect medical agencies and our community to supply the needs of those
                    combating COVID-19.
                </span>
            </div>
            

            <div class="mdc-layout-grid" style="margin:2rem;">
                <div class="mdc-layout-grid__inner">
                    <div class="mdc-layout-grid__cell--span-6">
                        <mdc-card style="padding:2rem">
                            <img alt="" src="./assets/svg/learn_more_agency.svg" style="height: 280px">
                            <span mdcHeadline5 style="margin: 1rem 1rem 0 1rem;text-align: center">Medical agencies</span>
                            <span mdcbody1 style="margin-bottom: 1rem;text-align: center">Hospitals, clinics</span>
                            <mdc-list-divider></mdc-list-divider>

                            <div style="align-self: :center; text-align:center">

                                <div class="mdc-layout-grid">
                                    <div class="mdc-layout-grid__inner">
                                        <div class="mdc-layout-grid__cell--span-12" style="padding:1rem;">
                                            <div class="mdc-layout-grid__cell--span-6">
                                                <img alt="" src="./assets/svg/learn_more_request.svg" style="max-height: 150px">
                                            </div>
                                            <div class="mdc-layout-grid__cell--span-6" style="padding:1rem;">
                                                <span mdcBody1>Publish lacking items</span>
                                            </div>
                                            <div class="mdc-layout-grid__cell--span-6">
                                                <span mdcBody2>Medical agencies can publish their medical supply needs
                                                to reach out to our community for help</span>
                                            </div>
                                        </div>

                                        <div class="mdc-layout-grid__cell--span-12" style="padding:1rem;">
                                            <div class="mdc-layout-grid__cell--span-6">
                                                <img alt="" src="./assets/svg/learn_more_contact.svg" style="max-height: 150px">
                                            </div>
                                            <div class="mdc-layout-grid__cell--span-6" style="padding:1rem;">
                                                <span mdcBody1>Respond to supplier &#47; donor</span>
                                            </div>
                                            <div class="mdc-layout-grid__cell--span-6">
                                                <span mdcBody2>Obtain items by negotiating with the supplier &#47; donor who responded to the request</span>
                                            </div>
                                        </div>

                                       <div class="mdc-layout-grid__cell--span-12" style="padding:1rem;">
                                            <div class="mdc-layout-grid__cell--span-6">
                                                <img alt="" src="./assets/svg/learn_more_track.svg" style="max-height: 150px">
                                            </div>
                                            <div class="mdc-layout-grid__cell--span-6" style="padding:1rem;">
                                                <span mdcBody1>Track progress</span>
                                            </div>
                                            <div class="mdc-layout-grid__cell--span-6">
                                                <span mdcBody2>See their request progress, how many items are still lacking, how many items are received and to be received</span>
                                            </div>
                                        </div>

                                         <div class="mdc-layout-grid__cell--span-12" style="padding:1rem;">
                                            <div class="mdc-layout-grid__cell--span-6">
                                                <img alt="" src="./assets/svg/learn_more_contribute.svg" style="max-height: 150px">
                                            </div>
                                            <div class="mdc-layout-grid__cell--span-6" style="padding:1rem;">
                                                <span mdcBody1>Offer contribution</span>
                                            </div>
                                            <div class="mdc-layout-grid__cell--span-6">
                                                <span mdcBody2>Medical agencies can also offer contributions to other medical agencies in need</span>
                                            </div>
                                        </div>


                                    </div>
                                </div>

                            </div>
              
     
                        </mdc-card>

                    </div>

                    <div class="mdc-layout-grid__cell--span-6">
                        <mdc-card style="padding:2rem">
                            <img alt="" src="./assets/svg/learn_more_donor.svg" style="height: 280px">
                            <span mdcHeadline5 style="margin: 1rem 1rem 0 1rem;text-align: center">Suppliers &#47; Donors</span>
                            <span mdcbody1 style="margin-bottom: 1rem;text-align: center">Industries, NGOs, individuals</span>
                            <mdc-list-divider></mdc-list-divider>

                            <div style="align-self: :center; text-align:center">

                                <div class="mdc-layout-grid">
                                    <div class="mdc-layout-grid__inner">
                                        <div class="mdc-layout-grid__cell--span-12" style="padding:1rem;">
                                            <div class="mdc-layout-grid__cell--span-6">
                                                <img alt="" src="./assets/svg/learn_more_donor_contact.svg" style="max-height: 150px">
                                            </div>
                                            <div class="mdc-layout-grid__cell--span-6" style="padding:1rem;">
                                                <span mdcBody1>Contact those in need</span>
                                            </div>
                                            <div class="mdc-layout-grid__cell--span-6">
                                                <span mdcBody2>Suppliers &#47; donors can view the needs of the medical agencies
                                                and respond as desired</span>
                                            </div>
                                        </div>

                                        <div class="mdc-layout-grid__cell--span-12" style="padding:1rem;">
                                            <div class="mdc-layout-grid__cell--span-6">
                                                <img alt="" src="./assets/svg/learn_more_donor_contribute.svg" style="max-height: 150px">
                                            </div>
                                            <div class="mdc-layout-grid__cell--span-6" style="padding:1rem;">
                                                <span mdcBody1>Offer contribution</span>
                                            </div>
                                            <div class="mdc-layout-grid__cell--span-6">
                                                <span mdcBody2>They may contribute their items as arranged with the receiving agency</span>
                                            </div>
                                        </div>




                                    </div>
                                </div>

                            </div>

                        </mdc-card>


                    </div>
                </div>

            </div>


        </div>


        <div style="padding: 72px;height:10%;background-color: #009688; color: white;display:block;margin-top:5rem">
            <div style="display: flex; flex-direction: row;">
                <span mdcHeadline4 style="margin-bottom: 24px">Combating COVID-19, together</span>
            </div>
            <div style="display: flex; flex-direction: row;">
                <span mdcbody1>
                    In this time of urgency, it is crucial that we gather every forces we have to support those
                    fighting this virus.
                    If you are representing your agency, especially those in the medical institutions such as hospitals and clinics, you may register an account with us to express your supply needs.
               </span>
            </div>
            <div style="display: flex; flex-direction: row;padding-top:2rem">
                <button class="intro" mdc-button outlined unelevated routerLink="/auth/sign-up">REGISTER NOW</button>
            </div>
        </div>
    </div>
</main>