<main class="scrollable">
  <div class="content-frame">
    <div class="content-area">
      <div style="display: flex; align-items: center; margin-bottom: 14px;">
        <span mdcHeadline6>Incoming Contributions</span>
        <span style="flex-grow: 1;"></span>
        <span>
        </span>
      </div>

      <mdc-card>
        <div *ngIf="isLoading"
             style="margin: 24px">
          <mdc-linear-progress></mdc-linear-progress>
        </div>
        <mdc-data-table *ngIf="!isLoading"
                        class="no-border">
          <table mdcDataTableTable>
            <thead>
            <tr mdcDataTableHeaderRow>
              <th mdcDataTableHeaderCell>Contributor</th>
              <th mdcDataTableHeaderCell>Status</th>
              <th mdcDataTableHeaderCell>Created at</th>
              <th mdcDataTableHeaderCell>Items</th>
              <th mdcDataTableHeaderCell>Total units</th>
            </tr>
            </thead>
            <tbody mdcDataTableContent>
            <tr *ngFor="let item of contributions"
                (click)="showContribution(item)"
                style="cursor: pointer;"
                mdcDataTableRow>
              <td mdcDataTableCell>{{item.sender.name}}</td>
              <td mdcDataTableCell>
                <div style="display: flex; flex-direction: row; align-items: center">
                  <mdc-icon>{{resolveStatusIcon(item)}}</mdc-icon>
                </div>
              </td>
              <td mdcDataTableCell>{{item.dateCrt.toDate().toLocaleDateString()}}</td>
              <td mdcDataTableCell>{{summarizeRequiredItems(item)}}</td>
              <td mdcDataTableCell>{{getCount(item)}}</td>
            </tr>
            </tbody>
          </table>
        </mdc-data-table>
      </mdc-card>
    </div>
  </div>
</main>
