<main>
  <div class="content">
    <mdc-card class="item" outlined>
      <form (ngSubmit)="createUserAccount()" *ngIf="!created" [formGroup]="formGroup"
            style="display: flex; flex-direction: column; margin: 24px">
        <div style="display: flex; margin: 0 auto 24px;">
          <mdc-icon style="width: 48px; height: 48px; margin: auto;">share</mdc-icon>
          <div style="display: flex; flex-direction: column; margin: auto 0 auto 16px">
            <span mdcHeadline5>Register as an agency</span>
            <span mdcBody1>with your email</span>
          </div>
        </div>
        <div style="flex: 1">
          <mdc-form-field>
            <mdc-text-field autocomplete="name" formControlName="name" label="Agency name" name="name" outlined
                            spellcheck="false"></mdc-text-field>
            <mdc-helper-text persistent validation>
              <span *ngIf="formGroup.controls.name.hasError('required')">Enter the agency name</span>
            </mdc-helper-text>
          </mdc-form-field>
          <mdc-form-field>
            <mdc-text-field autocomplete="tel" formControlName="contact" label="Contact" name="phone" outlined
                            spellcheck="false"></mdc-text-field>
            <mdc-helper-text persistent validation>
              <span *ngIf="formGroup.controls.contact.hasError('required')">Enter a contact number</span>
            </mdc-helper-text>
          </mdc-form-field>
          <mdc-form-field>
            <mdc-text-field autocomplete="email" formControlName="email" label="Email" name="email" outlined
                            spellcheck="false"></mdc-text-field>
            <mdc-helper-text persistent validation>
              <span *ngIf="formGroup.controls.email.hasError('required')">Enter your email address</span>
              <span *ngIf="formGroup.controls.email.hasError('email')">Enter a valid email address</span>
            </mdc-helper-text>
          </mdc-form-field>
          <mdc-form-field>
            <mdc-textarea formControlName="address" fullwidth label="Address" name="address" outlined rows="10"
                          spellcheck="false"></mdc-textarea>
          </mdc-form-field>
        </div>
        <button [disabled]="!formGroup.valid" mdc-button raised style="margin-top: 24px;" type="submit">
          Create agency
        </button>
      </form>
      <div *ngIf="created" style="display: flex; margin: 24px; justify-content: space-between">
        <div style="display: flex; flex-direction: column; flex: 1">
          <span mdcSubtitle1>Registration successful!</span>
          <span mdcCaption>Agency's should receive an email containing password-less link</span>
        </div>
        <button mdc-button outlined routerLink="/admin/agencies"
                style="margin: auto 0 auto 16px">View all agencies
        </button>
      </div>
    </mdc-card>
  </div>
</main>
