<main class="scrollable">
  <div style="height: 0; background-color: rgba(0, 0, 0, 0.12)">
    <mdc-linear-progress *ngIf="isLoading"></mdc-linear-progress>
  </div>
  <div class="content-frame">
    <div class="content-area">
      <div style="display: flex; flex-direction: row">
        <mdc-card class="row--item" style="flex: 1; height: 480px">
          <div style="display: flex; margin: 24px; justify-content: space-between">
            <span mdcHeadline6>Add new contribution request</span>
            <button (click)="publish()"
                    [disabled]="isPublishing || !isPublishAllowed"
                    mdc-button unelevated>
              Publish
            </button>
          </div>
          <mdc-list-divider></mdc-list-divider>

          <div style="height: 100%; display: flex; align-items: center; justify-content: center; flex-direction: column;"
               *ngIf="itemRequests.length === 0">
            <img src="./assets/svg/wearing_a_mask_.svg" style="opacity: 0.78; max-height: 70%;">
            <p mdcHelperText>Select items from the list on the right</p>
          </div>

          <div style="overflow-y: auto; position: relative;" *ngIf="itemRequests.length !== 0">
            <mdc-list [interactive]="false">
              <mdc-list-item *ngFor="let req of itemRequests" [disabled]="isPublishing">
                <button (click)="remove(req)" mdc-icon-button>
                  <mdc-icon mdcListItemGraphic>cancel</mdc-icon>
                </button>
                <span style="flex: 1">{{req.name}}</span>
                <mdc-text-field (change)="updateItem(req, +$event)" autocomplete="off" min="1" outlined step="1"
                                [disabled]="isPublishing" style="width: 96px; height: 40px" type="number"
                                [value]="req.qtyNeed"></mdc-text-field>
              </mdc-list-item>
            </mdc-list>
          </div>

        </mdc-card>
        <div class="row--item" style="display: flex; flex-direction: column; margin-left: 8px">
          <mdc-card style="width: 320px; height: 480px">
            <mdc-list-group-subheader mdcCaption>Click on item to add</mdc-list-group-subheader>
            <mdc-list-divider></mdc-list-divider>
            <div style="overflow-y: auto">
              <mdc-list>
                <mdc-list-item (click)="add(item)" *ngFor="let item of availableItems">
                  <mdc-icon mdcListItemGraphic>arrow_left</mdc-icon>
                  {{item}}
                </mdc-list-item>
                <mdc-list-item (click)="addCustom(item)" *ngFor="let item of customItems">
                  <mdc-icon mdcListItemGraphic>arrow_left</mdc-icon>
                  {{item}}
                </mdc-list-item>
              </mdc-list>
              <mdc-list-divider></mdc-list-divider>
            </div>
            <mdc-list-divider></mdc-list-divider>
            <mdc-list [interactive]="false">
              <mdc-list-item disabled>
                <mdc-text-field (input)="onCustomInput($event)"
                                (keydown)="addFromInput($event)"
                                outlined
                                style="width: 100%; height: 40px"></mdc-text-field>
              </mdc-list-item>
              <mdc-list-group-subheader mdcCaption>Enter item and press 'Enter' to add your own item
              </mdc-list-group-subheader>
            </mdc-list>
          </mdc-card>
        </div>
      </div>
    </div>
  </div>
</main>
